{% extends "layout.html.twig" %}

{% block title %} Qui sommes-nous ? {% endblock %}

{% block contenu %}
    <main role="main" class="container">
        <p>Qui sommes-nous ?</p>

    </main>


{% endblock %}