{# templates/emails/abandon_panier.html.twig #}

<p>Bonjour {{ name }} !</p>
<p>Vous avez décidé de ne pas continuer votre commande ce jour sur notre site. <br>
	Nous espérons cependant vous y revoir bientôt. A ce titre, nous vous offons un code de promotion vous permettant de bénéficier de 10% de remise globale sur votre prochaine facture. Pour ce faire, indiquez simplement le code promo "ABD10" lors de votre commande.
</p>
<p>L'équipe ExLibris</p>
