{# templates/emails/contact.html.twig #}

<p>Bonjour administrateur du site ExLibris !</p>
<p>Vous avez reçu un message de {{ nom }} ({{ email }})</p>
<p>Objet : {{ objet }}</p>
<p>Contenu : {{ contenu }}</p>