<!DOCTYPE html>
<html lang="fr" />
<head>
    <meta charset="UTF-8" />
    <meta name="title" content="Librairie ExLibris" />
    <meta name="description" content="La librairie ExLibris vous propose un vaste choix de romans en langue française, de littérature étrangère, d'essais, de romans d'anticipation ou de science-fiction, de littérature jeunesse et de bandes dessinées." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />   
    <title>{% block title %}{% endblock %} - ExLibris</title>
    {% block stylesheets %}
        <link href={{ asset('build/app.css') }} rel="stylesheet">
        <link href={{ asset('build/sticky-footer-navbar.css') }} rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src={{ asset('build/app.js') }}></script>
{% endblock %}
</body>
</html>
